$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

@font-face {
    font-family: 'cabin-regular';
    src: url('fonts/cabin-regular-webfont.woff2') format('woff2'),
         url('fonts/cabin-regular-webfont') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cabin-bold';
    src: url('fonts/cabin-bold-webfont.woff2') format('woff2'),
         url('fonts/cabin-bold-webfont.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
}

$font-cabin-regular: 'cabin-regular', sans-serif;
$font-cabin-bold: 'cabin-bold', sans-serif;

@font-face {
    font-family: 'flexslider-icon';
    src:url('/../fonts/flexslider/flexslider-icon.eot');
    src:url('/../fonts/flexslider/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('/../fonts/flexslider/flexslider-icon.woff') format('woff'),
        url('/../fonts/flexslider/flexslider-icon.ttf') format('truetype'),
        url('/../fonts/flexslider/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal
}