.page-template-front-page {

    #slider {
        border: none;
        padding: 0;
        margin: 0;
        overflow-x: hidden;

        .flex-direction-nav a::before {
            font-size: 30px;
        }

        .flex-control-nav {
          bottom: 10px;
        }
    }
    .entry-title {
        display: none;
    }
    .entry-content {
        text-align: center;
        h1 {
            font-family: $font-times-regular;
            color: $red;
        }
        p {
            font-family: $font-cabin-regular;
        }
    }

    .highlight-box {
        @include span-columns(4);
        @include omega(3);
        margin-bottom: 50px;

        img {
            // width: 400px;
            // height: 300px;
        }
    }
 }
